.cm[a-z]*
*~
*.omc
*.exe
*.cm*
*.o
*.opt
*.run
*.annot
.omakedb
.depend
OMakeroot
setup.data
setup.log
*.auto.mli
setup.ml.ba.*
opam/generated
out/.*.(sig|hump|dat)
oco.exe
tests/dummy.exe
server/server
server/server.exe
tests/dummy
tests/dummy.exe
out
oco
oco.exe
camlspotter.github.io
ngrok/ngrok
ngrok/ngrok.js
