body * {
  max-height: 1000000em; /* required for Android Chrome */
}

body {
    font-family: Arial,Helvetica,Sans-Serif;
}

span.logo {
    font-size: 150%;
    padding-bottom: 20px;
}

div.query {
    padding-bottom: 20px;
}

input#q {
    width: 50ex;
    font-size: 110%;
}

input#packs {
    width: 50ex;
    font-size: 110%;
}

input#submit {
    font-size: 110%;
}

select#packtype {
    font-size: 110%;
}

div.warning {
  padding-bottom: 5px;
  font-size: 80%;
  color: #884400;
}

div.group0 {
    background: #e8e8e8;
    padding: 6px 3px 6px 3px;
    border-style: solid none none none;
    border-width: 1px 0px 0px 0px;
}

div.group1 {
    background: #f4f4f4;
    padding: 6px 3px 6px 3px;
    border-style: solid none none none;
    border-width: 1px 0px 0px 0px;
}

div.original {
    padding-bottom: 3px;
}

div.aliases {
    font-size: 75%;
    padding-bottom: 3px;
}

div.aliased {
    font-size: 95%;
    padding-left: 4ex;
}

div.item {
    /* border-style: solid; */
    padding-bottom: 5px;
}

div.docstring {
    padding-top: 2px;
    font-size: 85%;
    color:#555555;
}

span.kind {
    color:#550000;
}

span.path {
    color:#555500;
}

span.type {
    padding-left: 1ex;
    color:#005500;
    display: inline-block;
}
